{% extends "base.html" %}

{% block css %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/contests.css') }}">
{% endblock %}

{% block page_title %}Contests{% endblock %}

{% block header %}
	{{ super() }}
	{% if current_cover_user.is_admin %}
	<div class="controls">
		<a href="{{url_for('contests.polls_add')}}" class="btn btn-default" data-popup="modal">Add contest</a>
		{% if view == 'archived' %}
			<a href="{{url_for('contests.main')}}" class="btn btn-default">Back</a>
		{% else %}
			<a href="{{url_for('contests.main', view='archived')}}" class="btn btn-default">View archive</a>
		{% endif %}
	</div>
	{% endif %}
{% endblock %}

{% block content %}
{% for poll in polls %}
	<div class="poll">
		<h2>{{ poll.name }}</h2>
		{% if poll.description %}
			<p>{{ poll.description }}</p>
		{% endif %}
		{% if poll.options %}
			<h3>Photo's</h3>
			<div class="gallery">
				{% for option in poll.options|randomize_for_user %}
					<div class="photo">
						<img src="{{ url_for('contests.poll_options_photo', poll_option_id=option.id, width=800 * (option.width/option.height), height=800) }}" alt="Photo {{loop.index}}" width="{{ 400 * (option.width/option.height) }}" height="400">
						<div class="overlay">
			                <div class="title">
								Photo {{loop.index}}{% if option.description %}:
									{{option.description}}
								{% endif %}
							</div>
							<div class="controls">
								<a class="enlarge-button" href="{{ url_for('contests.poll_options_view', poll_option_id=option.id) }}" data-popup="modal"><i class="fa fa-expand" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<h3>Vote</h3>
			{% if poll.id in votes %}
				<p>You have already voted for this contest!</p>
			{% elif poll is expired %}
				<p>You cannot vote anymore, the voting deadline for this poll has passed :(</p>
			{% elif current_cover_user.is_anonymous %}
				<a href="{{login_url()}}">Login at Cover</a> to vote!
			{% else %}
				<form method="POST" action="{{ url_for('contests.polls_vote', poll_id=poll.id)}}" role="form" class="form">
				    <div style="display:none;"><input id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" type="hidden"></div>
					<p>Which photo is your favourite?</p>
					{% for option in poll.options|randomize_for_user %}
						<div class="radio">
							<label>
								<input type="radio" name="choice" id="choice{{loop.index}}" value="{{ option.id }}">
								Photo {{loop.index}}
							</label>
						</div>
					{% endfor %}
					<div class="form-group">
						<button type="submit" class="btn btn-default">Vote!</button>
					</div>
				</form>
			{% endif %}
		{% endif %}
		<ul class="list-inline text-muted">
			<li>Voting deadline: {{poll.deadline.strftime('%d %b, %H:%M') }}</li>
			{% if current_cover_user.is_admin %}
				<li>&ndash;</li>
				<li><a 	href="{{url_for('contests.polls_view', poll_id=poll.id)}}">View contest</a></li>
			{% endif %}
		</ul>
	</div>
{% else %}
	No open contests :(
{% endfor %}
{% endblock %}

{% block scripts %}
	{{ super() }}
    <script src="{{ url_for('static', filename='js/jquery.row-grid.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.gallery').rowGrid({
                itemSelector: '.photo',
                resize: true,
                minMargin: 5,
                maxMargin: 5
            });
        });
    </script>
	<script src="{{ url_for('static', filename='js/dialog.js') }}"></script>
    <script>
		$(document).on('ready dialog-content-loaded', function(e){
			var $dialog = $(e.target);
			$dialog.find('.pager a').data('popup', 'modal');
			$dialog.find('.pager a').on('click', function(e){
				loadDialog(e, this);
				$dialog.modal('hide');
			});
		});
    </script>
{% endblock %}
