{% extends "base.html" %}

{% from 'form_macros.html' import render_form %}

{% block css %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
{% endblock %}

{% block page_title %}Poll: {{poll.name}}{% endblock %}

{% block content %}
<p>{{ poll.description }}</p>
<ul class="list-inline text-muted">
	<li>Deadline: {{poll.deadline.strftime('%d %b, %H:%M') }}</li>
    <li>&ndash;</li>
	<li>Archived: {{poll.archived }}</li>
    <li>&ndash;</li>
	<li><a 	href="{{url_for('contests.polls_edit', poll_id=poll.id)}}" data-popup="modal">Edit contest</a></li>
</ul>
<div class="poll-options">
	<h2>Photos</h2>
	<p>NB: To improve on the fairness of the vote, a random order is determined for every voter.</p>
	<div class="gallery">
		{% for option in poll.options %}
			<div class="photo">
				<img src="{{ url_for('contests.poll_options_photo', poll_option_id=option.id, width=800 * (option.width/option.height), height=800) }}" alt="Photo {{loop.index}}" width="{{ 400 * (option.width/option.height) }}" height="400">
				<div class="overlay">
	                <div class="title">
						Photo {{loop.index}}{% if option.description %}:
							{{option.description}}
						{% endif %}
					</div>
					<div class="controls">
						<a href="{{url_for('contests.poll_options_delete', poll_option_id=option.id)}}" data-popup="modal"><i class="fa fa-trash fa-fw" aria-hidden="true"></i></a>
						<a class="enlarge-button" href="{{ url_for('contests.poll_options_view', poll_option_id=option.id) }}" data-popup="modal"><i class="fa fa-expand" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<h3>Add photo</h3>
	{{ render_form(form, action_url=url_for('contests.poll_options_add', poll_id=poll.id), action_text='Add photo', class_="container-narrow", upload=True) }}
</div>
<div class="poll-results">
	<h2>Results</h2>
	{% if number_votes > 0 %}
		<ol>
		{% for result in results|sort(attribute='votes', reverse=True) %}
			<li>
				<a class="enlarge-button" href="{{ url_for('contests.poll_options_photo', poll_option_id=result.option_id, width=1800) }}" data-popup="image" title="{{result.display}}">{{result.display}}</a>
				with {{result.votes}}/{{number_votes}} votes
				({{(100*result.votes/number_votes)|round(2)}}%).
			</li>
		{% endfor %}
		</ol>
	{% else %}
		Nobody has voted for this poll yet :(
	{% endif %}
</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
    <script src="{{ url_for('static', filename='js/jquery.row-grid.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.gallery').rowGrid({
                itemSelector: '.photo',
                resize: true,
                minMargin: 5,
                maxMargin: 5
            });
        });
    </script>
	<script src="{{ url_for('static', filename='js/dialog.js') }}"></script>
    <script>
		$(document).on('ready dialog-content-loaded', function(e){
			var $dialog = $(e.target);
			$dialog.find('.pager a').data('popup', 'modal');
			$dialog.find('.pager a').on('click', function(e){
				loadDialog(e, this);
				$dialog.modal('hide');
			});
		});
    </script>
{% endblock %}
