{% extends 'dialog.html' %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contests.ss') }}">
{% endblock %}

{% block modal_class%}{{ super() }} modal-lg photo-modal{% endblock %}

{% block modal_content %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Photo {{ current_index+1 }}</h4>
    </div>
    <img src="{{ url_for('contests.poll_options_photo', poll_option_id=poll_option.id, width=1800) }}" alt="Photo">
    {% if poll_option.description %}
        <div class="modal-body description">
            <h4>Description</h4>
            <p>{{ poll_option.description }}</p>
        </div>
    {% endif %}
    <div class="modal-footer">
        <ul class="pager">
            {% if previous_id %}
                <li class="previous"><a href="{{url_for('contests.poll_options_view', poll_option_id=previous_id)}}">Previous</a></li>
            {% endif %}
            {% if next_id %}
                <li class="next"><a href="{{url_for('contests.poll_options_view', poll_option_id=next_id)}}">Next</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
