{% extends 'dialog.html' %}

{% block modal_title %}{{ meta.name }}{% endblock %}

{% block modal_content %}
<form method="POST" action="{{ url_inject_args(request.url, dict(next=meta.next)) if meta.next else request.url}}" role="form" class="form">
    <div style="display:none;"><input id="csrf_token" name="csrf_token" value="{{ csrf_token() }}" type="hidden"></div>
    {{ super() }}
</form>
{% endblock %}

{% block modal_body %}
    Are you sure you want to delete this photo?
{% endblock %}

{% block content_controls %}
    {% if meta.cancel_url %}<a href="{{ meta.cancel_url }}" class="btn btn-default" data-dismiss="modal">Cancel</a>{% endif %}
    <button type="submit" class="btn btn-danger">Delete</button>
{% endblock %}

