{% extends 'base.html' %}

{% block page %}
<div class="modal static" tabindex="-1" role="dialog">
    <div class="{% block modal_class%}modal-dialog{% endblock %}">
        <div class="modal-content">
        {% block modal_content %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% block modal_title %}{% endblock %}</h4>
            </div>
            <div class="modal-body">
                {% block modal_body %}{% endblock %}
            </div>
            <div class="modal-footer">
                {% block content_controls %}{% endblock %}
            </div>
        {% endblock %}
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
