{# 

Modified version of macros by Sergey Shvets (https://gist.github.com/bearz/7394681) 

#}

{# Renders field for bootstrap 3 standards.

    Params:
        field - WTForm field
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_field(form.email, placeholder='Input email', type='email') }}
#}
{% macro render_field(field, label_visible=true) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if label_visible %}
            <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
        {% else %}
            <label for="{{ field.id }}" class="sr-only">{{ field.label.text }}</label>
        {% endif %}
        {{ field(class_='form-control', **kwargs) }}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}

{# Renders checkbox fields since they are represented differently in bootstrap
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_checkbox_field(form.remember_me) }}
 #}
{% macro render_checkbox_field(field) -%}
    <div class="checkbox">
        <label>
            {{ field(type='checkbox', **kwargs) }} {{ field.label }}
        </label>
    </div>
    <div class="radio {% if field.errors %}has-error{% endif %} ">
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}

{# Renders radio field
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_radio_field(form.answers) }}
 #}
{% macro render_radio_field(field) -%}
    {% for value, label, _ in field.iter_choices() %}
        <div class="radio">
            <label>
                <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
            </label>
        </div>
    {% endfor %}
    <div class="radio {% if field.errors %}has-error{% endif %} ">
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}

{# Renders file fields since they are represented differently in bootstrap
    Params:
        field - WTForm field (there are no check, but you should put here only FileField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_file_field(form.remember_me) }}
 #}
{% macro render_file_field(field, label_visible=true) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if label_visible %}
            <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
        {% else %}
            <label for="{{ field.id }}" class="sr-only">{{ field.label.text }}</label>
        {% endif %}
        {{ field(**kwargs) }}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}

{# Renders WTForm in bootstrap way. There are two ways to call function:
     - as macros: it will render all field forms using cycle to iterate over them
     - as call: it will insert form fields as you specify:
     e.g. {% call macros.render_form(form, action_url=url_for('login_view'), action_text='Login',
                                        class_='login-form') %}
                {{ macros.render_field(form.email, placeholder='Input email', type='email') }}
                {{ macros.render_field(form.password, placeholder='Input password', type='password') }}
                {{ macros.render_checkbox_field(form.remember_me, type='checkbox') }}
            {% endcall %}

     Params:
        form - WTForm class
        action_url - url where to submit this form
        action_text - text of submit button
        class_ - sets a class for form
    #}
{% macro render_form(form, action_url='', render_buttons=True, action_text='Submit', class_='', btn_class='btn btn-primary', cancel_url=None, cancel_text='Cancel', cancel_btn_class='btn btn-default', upload=False) -%}

    <form method="POST" action="{{ action_url }}" role="form" class="{{ class_ }}" {% if upload %}enctype="multipart/form-data"{% endif %}>
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {{ caller() }}
        {% else %}
            {% for f in form %}
                {% if f.type == 'BooleanField' %}
                    {{ render_checkbox_field(f) }}
                {% elif f.type == 'RadioField' %}
                    {{ render_radio_field(f) }}
                {% elif f.type == 'FileField' %}
                    {{ render_file_field(f) }}
                {% elif f.type != 'CSRFTokenField' and f.type != 'HiddenField' %}
                    {{ render_field(f) }}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if render_buttons %}
            <button type="submit" class="{{ btn_class }}">{{ action_text }} </button>
            {% if cancel_url %}
                <a href="{{ cancel_url }}" class="{{ cancel_btn_class }}">{{ cancel_text }}</a>
            {% endif %}
        {% endif %}
    </form>
{%- endmacro %}
