{% extends 'dialog.html' %}

{% from 'form_macros.html' import render_checkbox_field, render_radio_field, render_file_field, render_field %}

{% block modal_title %}{{ meta.name }}{% endblock %}

{% block modal_content %}
<form method="POST" action="{{ url_inject_args(request.url, dict(next=meta.next)) if meta.next else request.url}}" role="form" class="form" {% if meta.upload %}enctype="multipart/form-data"{% endif %}>
    {{ form.hidden_tag() if form.hidden_tag }}
    {{ super() }}
</form>
{% endblock %}

{% block modal_body %}
    {% for f in form %}
        {% if f.type == 'BooleanField' %}
            {{ render_checkbox_field(f) }}
        {% elif f.type == 'RadioField' %}
            {{ render_radio_field(f) }}
        {% elif f.type == 'FileField' %}
            {{ render_file_field(f) }}
        {% elif f.type != 'CSRFTokenField' and f.type != 'HiddenField' %}
            {{ render_field(f) }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content_controls %}
    {% if meta.cancel_url %}<a href="{{ meta.cancel_url }}" class="btn btn-default" data-dismiss="modal">Cancel</a>{% endif %}
    <button type="submit" class="btn btn-primary">Submit</button>
{% endblock %}
