{% extends "base.html" %}

{% block page_title %}PhotoCee Cover{% endblock %}

{% block content %}
<section>
    <p>
        The <a href="https://www.svcover.nl/commissies.php?commissie=photocee">PhotoCee</a> is the committee that takes pictures and sometimes video's during the activities of Cover. Sometimes we even organise a Photo Workshop, a Photo Chain Letter, a Photo Quiz or a Photo Contest.
    </p>
    <p>
    	The winners of the contest are exhibited on the <a href="{{ url_for('wall_of_fame.main')}}">Wall of Fame</a>. We also invite we invite you to take a look at our <a href="https://www.youtube.com/user/fotocie">Youtube channel</a> or <a href="https://www.facebook.com/fotocie">Facebook page</a>, where we notify you when we publish new photos of events!
    </p>
</section>
{% endblock %}
