@-ms-viewport       { width: device-width; }

html,
body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.page-wrap{
    padding: 1em;
}

.container-narrow{
    max-width: 750px;
}

.label .close{
    float:none;
    vertical-align: middle;
    font-size: 1.5em;
    color: #fff;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.label .close:hover,
.label .close:focus {
  filter: alpha(opacity=80);
  opacity: .8;
}

nav{
    padding: 1em 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: black;
    z-index: 1000;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    margin: 0;
    width: 100%;
}

nav ul li.active{
    background: #333;
}

nav ul li a,
nav ul li a:visited{
    display: inline-block;
    width: 100%;
    font-size: 18px;
    line-height: 2.5em;
    color: white;
    white-space:nowrap;
}

nav ul li a:hover,
nav ul li a:focus{
    background: #eee;
    color: black;
    outline: none;
    text-decoration: none;
}

nav ul li a svg{
    display: inline-block;
    vertical-align: middle;
    max-width: 2.5em;
    height: auto;
    max-height: 1.2em;
}

nav ul li a svg path{
    fill: white;
}

nav ul li a:hover svg path,
nav ul li a:focus svg path{
    fill: black;
}

nav ul li a i.fa,
nav ul li a span.glyphicon,
nav ul li a span.avatar{
    text-align: center;
    width: 2.5em;
    vertical-align: middle;
}

nav ul li.toggle-offcanvas{
    margin-bottom: 1em;
}
nav ul li.toggle-offcanvas a{
    line-height: 1.5em;
}

nav ul li.toggle-offcanvas a:hover,
nav ul li.toggle-offcanvas a:focus{
    background: none;
    color: white;
}


nav ul li.brand a span{
    font-size: 1.5em;
}

nav ul li.brand a svg{
    position: relative;
    top: -5px;
    max-height: 1.8em;
}

nav ul li.user span.avatar{
    display: inline-block;
}

nav ul li.user span.avatar img{
    width: 1.3em;
    height: 1.3em;
    vertical-align: middle;
    border: 2px solid white;
    border-radius: 100%;
    overflow: hidden;
}

@media (min-width: 767px) {
    nav ul li a,
    nav ul li a:visited{
        height: 64px;
        position: relative;
        line-height: 64px;
        font-weight:bold;
        text-align: center;
    }

    nav ul li a svg{
        max-width: 64px;
        max-height: 36px;
    }

    nav ul li a i.fa,
    nav ul li a span.glyphicon{
        font-size: 32px;
        width: auto;
    }

    nav ul li a span.caption{
        position: absolute;
        left: 64px;
        bottom: 0;
        width: 0;
        padding: 0;
        overflow: hidden;
        white-space:nowrap;
        background: #eee;
        color: black;
        transition: padding ease-in-out 0.15s, width ease-in-out 0.15s;
        
    }

    nav ul li a:hover span.caption{
        width: auto;
        padding: 0 36px;
        overflow: visible;
    }

    nav ul li.brand a{
        height: 72px;
        line-height:72px;
    }

    nav ul li.brand a svg{
        position: relative;
        top: -3px;
        max-height: 48px;
    }

    nav ul li.brand span.caption{
        font-size: 48px;    
    }

    nav ul li.user span.avatar{
        width: 64px;
        height: 64px;
    }

    nav ul li.user span.avatar img{
        width: 40px;
        height: 40px;
    }

    nav ul.bottom-controls{
        position: absolute;
        bottom: 1em;
    }
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
.toggle-offcanvas{
    display: inline-block;
}

nav.offcanvas {
    width: 0;
    transition: width .25s ease-out;
    overflow-x: hidden;
    overflow-y: auto;
}

nav.offcanvas.active{
    width: 85%;
}

.page-wrap {
    left: 0;
    position: relative;
    transition: left .25s ease-out;
}

nav.offcanvas.active + .page-wrap {
    left: 85%;
}


@media (min-width: 767px) {
    body{
        padding-left: 64px;
    }

    .toggle-offcanvas{
        display: none;
    }

    nav.offcanvas.active + .page-wrap {
        left: 0;
    }

    nav.offcanvas,
    nav.offcanvas.active{
        width: 64px;
        overflow: visible;
    }
}

header{
    line-height: 3em;
    margin-bottom: 1em;
}

header h1{
    display: inline-block;
    margin: 0;
    font-size: 30px;
    line-height: inherit;
    vertical-align: top;
}

header .controls{
    text-align: right;
}

header a.toggle-offcanvas,
header a.toggle-offcanvas:focus,
header a.toggle-offcanvas:visited{
    font-size: 24px;
    line-height: inherit;
    color: #333;
    outline: none;
    margin-right: 0.5em;
}

header a.toggle-offcanvas:hover{
    color: #666;
}

@media screen and (min-width: 767px) {
    header{
        line-height: 72px;
    }

    header h1{
        font-size: 36px;
    }

    header .controls{
        float: right;
    }
}

section{
    max-width: 50em;
}

.modal.static {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}

.modal .modal-footer .pager{
    margin-top: 0;
    margin-bottom: 0;
}

.modal .image-modal .modal-content{
    overflow: hidden;
}

.modal .image-modal img,
.modal .photo-modal img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 90vh;
}

.modal .photo-modal .modal-body.description{
    border-top: 1px solid #e5e5e5;
}

.twitter-typeahead {
    float: none !important;
    vertical-align: middle;
}

.autocomplete-almanac~.tt-menu .tt-suggestion{
    line-height: 30px !important;
}

.autocomplete-almanac~.tt-menu .tt-suggestion img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: -10px;
    vertical-align: middle;
}
