.gallery{
    display: flex;
    flex-wrap: wrap;
}

.gallery > .photo{
    margin-bottom: 5px;
    flex-shrink: 0;
    position: relative;
}

.gallery > .photo img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
}

.gallery > .photo .overlay{
    display: block;
    padding: 4px 8px;
    position: absolute;
    height: 28px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    transition: height 150ms ease-in-out, 
        background-color 150ms ease-in-out;;
}

.gallery > .photo:hover .overlay{
    height: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.gallery > .photo .overlay a,
.gallery > .photo .overlay a:visited{
    color: white;
    text-decoration: none;
}

.gallery > .photo .overlay a:hover,
.gallery > .photo .overlay a:focus{
    color: white;
    opacity: 0.8;
    text-decoration: none;
}

.gallery > .photo:hover .overlay a{
    text-decoration: underline;
}

.gallery > .photo .overlay > .controls{
    position: absolute;
    top: 4px;
    right: 8px;
    display: none;
}

.gallery > .photo:hover .overlay > .controls{
    display: block;
}

.gallery > .photo .overlay > .details > * {
    display: block;
    margin-top: 5px;
}

.gallery > .photo .overlay > .details .category::before{
    content: "Category:";
}

.gallery > .photo .overlay > .details .description::before{
    content: "Description:";
    display: block;
}

.poll .gallery > .photo:hover .overlay,
.poll-options .gallery > .photo:hover .overlay{
    height: 28px;
    background-color: rgba(0, 0, 0, 0.4);
}

.poll .gallery > .photo .overlay > .title,
.poll-options .gallery > .photo .overlay > .title{
    max-width: calc(100% - 1.5em);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.poll-options .gallery > .photo .overlay > .title{
    max-width: calc(100% - 2.5em);
}

.poll .gallery > .photo .overlay > .controls,
.poll-options .gallery > .photo .overlay > .controls{
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 8px;
}
