div.personal-status{
    color: white;
    font-size: 1.2em;
}

div.personal-status.error{
    background: #c8102e;
}

div.personal-status.success{
    background: #2ecc71;
}

div.personal-status a,
div.personal-status a:visited{
    color: white;
    text-decoration: underline;
}

div.personal-status a:hover,
div.personal-status a:focus{
    color: white;
    opacity: 0.8;
}

div.personal-status button.close{
    color: white;
    opacity: 0.6;
}

div.personal-status button.close:hover,
div.personal-status button.close:focus{
    color: white;
    opacity: 0.8;
}

.label{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label-yes{ background-color: #2ecc71; }
.label-uploaded{ background-color: #3498db; }
.label-unfinished-photos-folder{ background-color: #9b59b6; }
.label-probably{ background-color: #f1c40f; }

table.table > tbody > tr > td,
table.table > tbody > tr > th,
table.table > thead > tr > td,
table.table > thead > tr > th{
    vertical-align: middle;
}

td.activity .fa.icon-published{
    color: #27ae60;
    font-size: 1.2em;
}

div.photographer{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

div.photographer.status-uploaded::before,
div.photographer.status-unfinished-photos-folder::before{
    display: block;
    position: absolute;
    top: -.2em;
    right: -.2em;
    height: 1.8em;
    width: 1.8em;
    content: "";
    background: #999;
    border-radius: 100%;
    font-family: 'FontAwesome';
    font-size: 0.5em;
    line-height: 1.8em;
    color: white;
    text-align: center;
}

div.photographer.status-uploaded::before{
    background: #3498db;
    content: "\f00c";
}

div.photographer.status-unfinished-photos-folder::before{
    background: #9b59b6;
    content: "\f068";
}

div.photographer img{
    border-radius: 100%;
    border: 2px solid #999;
    width: 2.2em; 
    height: 2.2em;
    overflow: hidden;
}

div.photographer.status-yes img,
div.photographer.status-uploaded img,
div.photographer.status-unfinished-photos-folder img{ 
    border-color: #2ecc71;
}

div.photographer.status-probably img{ border-color: #f1c40f; }
div.photographer.status-preferably-not img{ border-color: #e67e22; }
div.photographer.status-no img{ border-color: #e74c3c; }

tr.devider> td{
    background: #F5F5F5;
    color: #999;
    font-size: .9em;
    text-align: center;
}

tr.devider > td > i.fa{
    margin: 0 1em;
}

tr.status div.status-select > .btn,
tr.status div.status-select > span.my-status,
tr.status div.status-select > span.my-status:not(.active){
    display: none;
}

tr div.status-select > .btn.active,
tr.status div.status-select > span.my-status.active{
    display: inline-block;
}

tr:hover div.status-select > .btn,
tr:focus div.status-select > .btn{
    display: inline-block;
}

tr:hover div.status-select > span.my-status,
tr:focus div.status-select > span.my-status,
tr:hover div.status-select > span.my-status.active,
tr:focus div.status-select > span.my-status.active{
    display: none;
}

table td a.btn.btn-publish,
div.status-select .btn{
    color: white;
    background: #95a5a6;
    border-color: #7f8c8d;
}

div.status-select .btn.status-yes.active,
div.status-select .btn.status-yes:hover{
    background: #2ecc71;
    border-color: #27ae60;
}
div.status-select .btn.status-uploaded.active,
div.status-select .btn.status-uploaded:hover{
    background: #3498db;
    border-color: #2980b9;
}
div.status-select .btn.status-unfinished-photos-folder.active,
div.status-select .btn.status-unfinished-photos-folder:hover{
    background: #9b59b6;
    border-color: #8e44ad;
}
div.status-select .btn.status-probably.active,
div.status-select .btn.status-probably:hover{
    background: #f1c40f;
    border-color: #f39c12;
}
div.status-select .btn.status-preferably-not.active,
div.status-select .btn.status-preferably-not:hover{
    background: #e67e22;
    border-color: #d35400;
}
div.status-select .btn.status-no.active,
div.status-select .btn.status-no:hover{
    background: #e74c3c; 
    border-color: #c0392b;
}

table td a.btn.btn-publish.active,
table td a.btn.btn-publish:hover{
    background: #2ecc71;
    border-color: #27ae60;
}

table td.desktop-alternative,
table th.desktop-alternative{
    display:none;
}

table td.mobile-alternative,
table th.mobile-alternative{
    display:table-cell;
}

@media (min-width: 767px) {
    table td.desktop-alternative,
    table th.desktop-alternative{
        display:table-cell;
    }

    table td.mobile-alternative,
    table th.mobile-alternative{
        display:none;
    }

    tr div.dropdown.activity-options{
        display: none;
    }

    tr div.dropdown.activity-options.open{
        display: inline-block;
    }

    tr:hover div.dropdown.activity-options,
    tr:focus div.dropdown.activity-options{
        display: inline-block;
    }
    
    tr:hover a.desktop-alternative,
    tr:focus a.desktop-alternative{
        display: inline-block;
    }
}

#filters{
    background: #eee;
    margin-right: -15px;
    margin-bottom: 15px;
    margin-left: -15px;
    padding: 15px;
}

#filters h2{
    margin-top: 0;
}
