{% extends 'form_dialog.html' %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typeahead.css') }}" type="text/css">
{% endblock %}

{% block modal_body %}
    <div class="form-group {% if form.photographer.errors or form.photographer_cover_id.errors %}has-error{% endif %}">
        {{ form.photographer.label(class_="control-label") }}
        {{ form.photographer(class_="form-control autocomplete-almanac", autocomplete="off") }}
        {{ form.photographer_cover_id(type='hidden') }}
        {% if form.photographer.errors %}
            {% for e in form.photographer.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
        {% if form.photographer_cover_id.errors %}
            {% for e in form.photographer_cover_id.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form-group {% if form.status.errors %}has-error{% endif %}">
        {{ form.status.label(class="control-label") }}
        <select class="form-control" name="status" id="status">
            <option disabled selected>Choose a status…</option>
            <option value="0" >Yes</option>
        {% if activity is not upcoming %}
            <option value="1" >Uploaded</option>
            <option value="2" >Unfinished photos folder</option>
        {% else %}
            <option value="3">Probably / If neccessary</option>
            <option value="4">Preferably not</option>
        {% endif %}
            <option value="5" >No</option>
        </select>
        {% if form.status.errors %}
            {% for e in form.status.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/typeahead.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/autocomplete-almanac.js') }}"></script>
{% endblock %}
