{% extends "base.html" %}

{% from 'form_macros.html' import render_form %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typeahead.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/planner.css') }}">
{% endblock %}

{% block page_title %}PhotoCee Planner{% if view != 'default' %}: {{ view|title }}{% endif %}{% endblock %}

{% block header %}
    {{ super() }}
    <div class="controls">
        <a href="{{url_for('planner.add_activity')}}" class="btn btn-default" data-popup="modal">Add activity</a>
        <a class="btn btn-default" role="button" data-toggle="collapse" href="#filters" aria-expanded="{{ 'true' if filters else 'false'}}" aria-controls="filters">
            <i class="fa fa-filter" aria-hidden="true"></i> Filter
        </a>
    </div>
{% endblock %}

{% block content %}
<div class="collapse {% if filters %}in{% endif %}" id="filters">
    <h2>Filter</h2>
    <form method="GET" role="form" id="filter-form" class="container-narrow">
        <div class="form-group">
            <label for="archived">Archived</label>
            <select name="archived" class="form-control">
                <option value="None" {% if filters.archived is none %}selected{% endif %}>-</option>
                <option value="True" {% if filters.archived %}selected{% endif %}>True</option>
                <option value="False" {% if not filters or filters.archived is sameas false %}selected{% endif %}>False</option>
            </select>
        </div>
        <div class="form-group">
            <label for="published">Published</label>
            <select name="published" class="form-control">
                <option value="None" {% if filters.published is none %}selected{% endif %}>-</option>
                <option value="True" {% if filters.published %}selected{% endif %}>True</option>
                <option value="False" {% if filters.published is sameas false %}selected{% endif %}>False</option>
            </select>
        </div>
        <div class="form-group">
            <label for="status">Photographers</label>
            <input type="text" id="photographer-filter" class="form-control autocomplete-almanac" autocomplete="off" placeholder="Name…">
            <input type="hidden" id="photographer-filter-ids" name="photographers" {% if filters.photographers %}value="{{filters.photographers}}"{% endif %}>
            <div id="photographer-filter-display">{% if filters.photographers %}<span class="label label-default"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i><span class="sr-only">Loading…</span></span>{% endif %}</div>
        </div>
        <div class="form-group">
            <label for="status">Status (multiselect)</label>
            <select name="status" class="form-control" size="6" multiple>
                {% for option in ['0','3','4','5','1','2'] %}
                    <option value="{{ option }}" {% if option in filters.status %}selected{% endif %}>
                        {{ status_options[option] }}
                    </option> 
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Apply Filter</button>
        <button class="btn btn-default" type="reset" id="clear-filter">Clear Filter</button>
    </form>
</div>

{% if backlog>0 %}
    <div class="alert personal-status error" role="alert">
        Hi {{current_cover_user.user['voornaam']}}! You still have to finish the photo's of 
        <a href="{{url_for('planner.main', photographers=current_cover_user.get_id(), status=0)}}">{{backlog}} {% if backlog > 1 %}activities{% else %}activity{% endif %}</a>!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% else %}
	<div class="alert personal-status success" role="alert" title="{{current_cover_user.user['voornaam']}}, there are only few people who are really great and you're one of them! In fact, you're not just one of them, you are their leader. Your awesomeness has no equal and history has seen no person like you. It is actually unlikely that the future will see someone who match your awesomeness. You are not just great, you are the GREATEST!">
		{{current_cover_user.user['voornaam']}}, you're awesome! You don't have a backlog, but please check the 
		<a href="{{url_for('planner.main', status=2)}}">unfinished photo's folder</a> if you're bored!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
	</div>
{% endif %}

<form id="status-form" method="POST" action="{{ url_for('planner.update_status', next=request.url) }}">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-sm-2 activity desktop-alternative">Date</th>
                <th class="col-sm-3 activity">Activity</th>
                <th class="col-sm-3 photographers desktop-alternative">Photographers</th>
                <th class="col-sm-3 photographers mobile-alternative"><i class="fa fa-camera"></i></th>
                <th class="col-sm-3 status desktop-alternative">Your status</th>
                <th class="col-sm-3 status mobile-alternative">Your status</th>
                <th class="col-sm-1"></th>
            </tr>
        </thead>
        <tbody>
        {% for activity, my_status in activities %}
            {% if activities[loop.index0 - 1][0] is upcoming and activity is not upcoming %}
                <tr class="devider"><td colspan="7"><i class="fa fa-angle-down"></i> Passed Activities <i class="fa fa-angle-down"></i></td></tr>
            {% endif %}
            <tr{% if my_status is not none %} class="status status-{{my_status.value|lower|replace(' ', '-')}}" data-my-status="{{my_status.value|lower|replace(' ', '-')}}"{% endif %} data-activity-id="{{activity.id}}">
                <td class="activity desktop-alternative"><span {% if activity.location %}data-toggle="tooltip" data-placement="bottom" title="{{activity.location}}"{%endif%}> {{activity.date.strftime('%d %b, %H:%M')}}</span></td>
                <td class="activity desktop-alternative">
                {% if activity.cover_id %}
                    {% if activity.published %}<i class="fa fa-globe icon-published" data-toggle="tooltip" data-placement="bottom" title="Activity is published"></i>{% endif %}
                    <a href="{{activity.cover_url}}" tabindex="-1">{{activity.name}}</a>
                {% else %}
                    {{activity.name}}
                {% endif %}
                </td>
                <td class="activity mobile-alternative">
                    {{activity.date.strftime('%d %b, %H:%M')}}
                    <div>
                        {% if activity.published %}<i class="fa fa-globe icon-published" data-toggle="tooltip" data-placement="bottom" title="Activity is published"></i>{% endif %}
                        <a href="{{activity.cover_url}}" tabindex="-1">{{activity.name}}</a>
                    </div>
                </td>
                <td class="photographers desktop-alternative">
                {% for photographer in activity.photographers|sort(attribute='status.code') %}
                    <div class="photographer status-{{photographer.status.value|lower|replace(' ', '-')}}" data-toggle="tooltip" data-placement="bottom" title="{{photographer.name}}: {{photographer.status}}" data-photographer-id="{{photographer.cover_id}}">
                        <img src="https://www.svcover.nl/foto.php?lid_id={{photographer.cover_id}}&amp;format=square&amp;width=60">
                    </div>
                {% endfor %}
                </td>
                <td class="photographers mobile-alternative">
                    <span class="label label-yes" data-toggle="tooltip" data-placement="bottom" data-trigger="click hover focus" title="{{ activity.photographers|selectattr('status.code', 'equalto', '0')|join(', ', attribute='name')}}">{{ activity.photographers|selectattr('status.code', 'equalto', '0')|list|length}}</span>
                {% if activity is not upcoming %}
                    <span class="label label-uploaded" data-toggle="tooltip" data-placement="bottom" data-trigger="click hover focus" title="{{ activity.photographers|selectattr('status.code', 'equalto', '1')|join(', ', attribute='name')}}">{{ activity.photographers|selectattr('status.code', 'equalto', '1')|list|length}}</span>
                    <span class="label label-unfinished-photos-folder" data-toggle="tooltip" data-placement="bottom" data-trigger="click hover focus" title="{{ activity.photographers|selectattr('status.code', 'equalto', '2')|join(', ', attribute='name')}}">{{ activity.photographers|selectattr('status.code', 'equalto', '2')|list|length}}</span>
                {% else %}
                    <span class="label label-probably" data-toggle="tooltip" data-placement="bottom" data-trigger="click hover focus" title="{{ activity.photographers|selectattr('status.code', 'equalto', '3')|join(', ', attribute='name')}}">{{ activity.photographers|selectattr('status.code', 'equalto', '3')|list|length}}</span>
                {% endif %}
                </td>
                <td class="status desktop-alternative">
                    <div class="status-select" data-toggle="buttons">
                    {% if my_status is not none %}
                        <span class="my-status status-{{my_status.value|lower|replace(' ', '-')}} active">{{my_status}}</span>
                    {% endif %}
                        <label class="btn btn-sm status-yes" data-toggle="tooltip" data-placement="bottom" title="Yes" tabindex="">
                            <input type="radio" name="status-{{activity.id}}" value="0" autocomplete="off"><i class="fa fa-check fa-fw"></i></span>
                        </label>
                    {% if activity is not upcoming %}
                        <label class="btn btn-sm status-uploaded" data-toggle="tooltip" data-placement="bottom" title="Photos uploaded" tabindex="">
                            <input type="radio" name="status-{{activity.id}}" value="1" autocomplete="off"><i class="fa fa-cloud fa-fw"></i>
                        </label>
                        <label class="btn btn-sm status-unfinished-photos-folder" data-toggle="tooltip" data-placement="bottom" title="Photos in unfinished photos folder" tabindex="">
                            <input type="radio" name="status-{{activity.id}}" value="2" autocomplete="off"><i class="fa fa-folder-open fa-fw"></i>
                        </label>
                    {% else %}
                        <label class="btn btn-sm status-probably" data-toggle="tooltip" data-placement="bottom" title="Probably / If neccessary">
                            <input type="radio" name="status-{{activity.id}}" value="3" autocomplete="off"><i class="fa fa-plus fa-fw"></i>
                        </label>
                        <label class="btn btn-sm status-preferably-not" data-toggle="tooltip" data-placement="bottom" title="Preferably not">
                            <input type="radio" name="status-{{activity.id}}" value="4" autocomplete="off"><i class="fa fa-minus fa-fw"></i>
                        </label>
                    {% endif %}
                        <label class="btn btn-sm status-no" data-toggle="tooltip" data-placement="bottom" title="No">
                            <input type="radio" name="status-{{activity.id}}" value="5" autocomplete="off"><i class="fa fa-times fa-fw"></i>
                        </label>
                    </div>
                </td>
                <td class="status mobile-alternative">
                    <select class="form-control" name="status-{{activity.id}}">
                        <option disabled selected>{{ 'Choose your status…' if my_status is none else my_status.value ~ ', change…'}}</option>
                        <option value="0" >Yes{% if my_status.code == '0' %} (current){% endif %}</option>
                    {% if activity is not upcoming %}
                        <option value="1" >Uploaded{% if my_status.code == '1' %} (current){% endif %}</option>
                        <option value="2" >Unfinished photos folder{% if my_status.code == '2' %} (current){% endif %}</option>
                    {% else %}
                        <option value="3">Probably / If neccessary{% if my_status.code == 3 %} - your status{% endif %}</option>
                        <option value="4">Preferably not{% if my_status.code == 4 %} - your status{% endif %}</option>
                    {% endif %}
                        <option value="5" >No{% if my_status.code == '5' %} (current){% endif %}</option>
                    </select>
                </td>
                <td class="text-right">
                    <div class="dropdown activity-options pull-right">
                        <button id="options-{{activity.id}}" class="btn btn-link btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="options-{{activity.id}}">
                            <li><a href="{{ url_for('planner.add_status_activity', activity_id=activity.id, next=request.url) }}" data-popup="modal">Add/Edit photographer</a></li>
                            <li class="divider"></li>
                        {% if activity is not upcoming or not activity.cover_id %}
                             <li><a href="{{ url_for('planner.edit_activity', activity_id=activity.id, next=request.url) }}" data-popup="modal">Edit</a></li>
                        {% endif %}
                        {% if activity is not upcoming %}
                            {% if activity.published %}
                                <li><a href="{{ url_for('planner.publish_activity', activity_id=activity.id, next=request.url, publish=False) }}">Unpublish</a></li>
                            {% else %}
                                <li><a href="{{ url_for('planner.publish_activity', activity_id=activity.id, next=request.url) }}">Publish</a></li>
                            {% endif %}
                        {% endif %}
                        {% if activity.archived %}
                            <li><a href="{{ url_for('planner.archive_activity', activity_id=activity.id, next=request.url, archive=False) }}">Unarchive</a></li>
                        {% else %}
                            <li><a href="{{ url_for('planner.archive_activity', activity_id=activity.id, next=request.url) }}">Archive</a></li>
                        {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button id="submit-status-form" class="btn btn-primary pull-right">Submit</button>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    window.cover_user_id = {{ current_cover_user.get_id() }};
    window.cover_user_name = "{{ current_cover_user.name }}";
    window.status_options = {{ status_options_json|safe }};
</script>
<script src="{{ url_for('static', filename='js/typeahead.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/autocomplete-almanac.js') }}"></script>
<script src="{{ url_for('static', filename='js/dialog.js') }}"></script>
<script src="{{ url_for('static', filename='js/planner.js') }}"></script>
{% endblock %}
