{% extends "base.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typeahead.css') }}" type="text/css">
{% endblock %}

{% block page_title %}Wall of Fame{% endblock %}

{% block header %}
    {{ super() }}
    {% if current_cover_user.is_admin %}
    <div class="controls">
        <a id="btn-add-activity" href="{{url_for('wall_of_fame.photos_add')}}" class="btn btn-default" data-popup="modal">Add photo</a>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
<div class="gallery">
    {% for photo in photos %}
        <div class="photo">
            {# <a href="{{ url_for('wall_of_fame.photos_view', photo_id=photo.id)}}" data-popup="modal"> #}
                <img src="{{ url_for('wall_of_fame.photos_photo', photo_id=photo.id, width=800 * (photo     .width/photo.height), height=800) }}" alt="Photo by {{ photo.photographer }}" width="{{ 400 * (photo.width/photo.height) }}" height="400">
            {# </a> #}
            <div class="overlay">
                <div class="title">
                    {{ photo.date.strftime('%Y') }}:
                    {% if photo.photographer_cover_id %}
                        <a href="{{cover_profile_link(photo.photographer_cover_id)}}" target="_blank">
                            {{ photo.photographer }}
                        </a>
                    {% else %}
                        {{ photo.photographer }}
                    {% endif %}
                </div>
                <div class="details">
                    {% if photo.category %}
                        <span class="category">
                            {{ photo.category }}
                        </span>
                    {% endif %}
                    {% if photo.description %}
                        <span class="description">
                            {{ photo.description }}
                        </span>
                    {% endif %}
                </div>
                {% if current_cover_user.is_admin %}
                    <div class="controls">
                        <a href="{{url_for('wall_of_fame.photos_delete', photo_id=photo.id)}}" data-popup="modal"><i class="fa fa-trash fa-fw" aria-hidden="true"></i></a>
                        <a href="{{url_for('wall_of_fame.photos_edit', photo_id=photo.id)}}" data-popup="modal"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/jquery.row-grid.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.gallery').rowGrid({
                itemSelector: '.photo',
                resize: true,
                minMargin: 5,
                maxMargin: 5
            });
        });
    </script>
    <script src="{{ url_for('static', filename='js/dialog.js') }}"></script>
    {% if current_cover_user.is_admin %}
        <script src="{{ url_for('static', filename='js/typeahead.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/autocomplete-almanac.js') }}"></script>
    {% endif %}
{% endblock %}
