{% extends 'form_dialog.html' %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typeahead.css') }}" type="text/css">
{% endblock %}

{% block modal_body %}
    {{ render_field(form.date, placeholder='yyyy-mm-dd') }}
    {{ render_field(form.category) }}
	<div class="form-group {% if form.photographer.errors or form.photographer_cover_id.errors %}has-error{% endif %}">
		{{ form.photographer.label(class_="control-label") }}
		{{ form.photographer(class_="form-control autocomplete-almanac", autocomplete="off") }}
		{{ form.photographer_cover_id(type='hidden') }}
		{% if form.photographer.errors %}
			{% for e in form.photographer.errors %}
				<p class="help-block">{{ e }}</p>
			{% endfor %}
		{% endif %}
		{% if form.photographer_cover_id.errors %}
			{% for e in form.photographer_cover_id.errors %}
				<p class="help-block">{{ e }}</p>
			{% endfor %}
		{% endif %}
	</div>
    {{ render_field(form.description) }}
    {% if form.photo %}
	    {{ render_file_field(form.photo) }}
    {% endif %}
{% endblock %}

{% block scripts %}
	{{ super() }}
    <script src="{{ url_for('static', filename='js/typeahead.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/autocomplete-almanac.js') }}"></script>
{% endblock %}
