{% extends 'dialog.html' %}

{% block modal_class%}{{ super() }} modal-lg photo-modal{% endblock %}

{% block modal_content %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ photo.date.strftime('%Y') }}: {{ photo.photographer }}</h4>
    </div>
    <img src="{{ url_for('wall_of_fame.photos_photo', photo_id=photo.id, width=1800) }}" alt="">
    <div class="modal-body">
        {% if current_cover_user.is_admin %}
            <a class="btn btn-default" href="{{url_for('wall_of_fame.photos_edit', photo_id=photo.id)}}">
                Edit
            </a>
            <a class="btn btn-default"  href="{{url_for('wall_of_fame.photos_delete', photo_id=photo.id)}}">
                Delete
            </a>
        {% endif %}
        <h4>Photographer</h4>
        <p>
            {{ photo.photographer }}
        </p>
        <h4>Year</h4>
        <p>
            {{ photo.date.strftime('%Y') }}
        </p>
        {% if photo.category %}
            <h4>Category</h4>
            <p>
                {{ photo.category }}
            </p>
        {% endif %}
        {% if photo.description %}
            <h4>Description</h4>
            <p>
                {{ photo.description }}
            </p>
        {% endif %}
    </div>
{% endblock %}

